###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:password@127.0.0.1:3306/lsDataViz?serverVersion=10.4.3-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=ta_phrase_secrete_ici
###< lexik/jwt-authentication-bundle ###